<script type="text/javascript">
    "use strict";
    /*global RED*/
    RED.nodes.registerType('cote-config', {
        category: 'config',
        defaults: {
            ctype: {
                value: "",
                required: true,
            },
            host: {
                value: "",
                required: false
            },
            port: {
                value: "",
                required: false
            },
            dbase: {
                value: "",
                required: false
            },
            pass: {
                value: "",
                required: false
            },
            namespace: {
                value: "",
                required: false
            },
            key: {
                value: "",
                required: false
            }
        },
        label: function () {
            return this.ctype + "#" + this.id;
        }
    });

</script>

<script type="text/x-red" data-template-name="cote-config">
    <div class="form-row">
        <label for="node-config-input-ctype"><i class="fa fa-unlock"></i> Discovery Type </label>
        <select id="node-config-input-ctype">
            <option value="broadcast" selected>Broadcast</option>
            <option value="multicast">Multicast</option>
            <option value="redis">Redis</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-config-input-host"><i class="fa fa-globe"></i>Redis Host or Broadcast/Multicast Address</label>
        <input type="text" id="node-config-input-host">
    </div>
    <div class="form-row">
        <label for="node-config-input-port"><i class="fa fa-server"></i>Redis Port</label>
        <input type="text" id="node-config-input-port">
    </div>
    <div class="form-row">
        <label for="node-config-input-dbase"><i class="fa fa-random"></i>Redis DB</label>
        <input type="text" id="node-config-input-dbase">
    </div>
    <div class="form-row">
        <label for="node-config-input-pass"><i class="fa fa-lock"></i>Redis Password</label>
        <input type="password" id="node-config-input-pass">
    </div>
    <div class="form-row">
        <label for="node-config-input-namespace"><i class="fa fa-tag"></i> Namespace</label>
        <input type="text" id="node-config-input-namespace" placeholder="Namespace">
    </div>
    <div class="form-row">
        <label for="node-config-input-key"><i class="icon-tasks"></i> Key</label>
        <input type="text" id="node-config-input-key" placeholder="Key">
    </div>
</script>