<script type="text/javascript">
    /*global RED*/
    RED.nodes.registerType('cote-responder', {
        category: 'cote',
        inputs: 0,
        outputs: 1,
        color: "#ffaaaa",
        icon: "arrow-in.png",
        align: "right",
        paletteLabel: "responder",
        defaults: {
            config: {
                value: "",
                type: "cote-config"
            },
            name: {
                value: ""
            },
            topic: {
                value: ""
            }
        },
        label: function() {
            return this.name || "CoteResp";
        }
    });
</script>

<script type="text/x-red" data-template-name="cote-responder">
    <div class="form-row">
        <label for="node-input-config"><i class="fa fa-globe"></i> Config</label>
        <input type="text" id="node-input-config" placeholder="Config">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tasks"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
</script>

<script type="text/x-red" data-help-name="cote-responder">
    <p>Cote responder</p>
    <p>CoteJS Responder input</p>
    <p>The msg.topic is function name.</p>
</script>

<script type="text/javascript">
RED.nodes.registerType('cote-responder-out', {
        category: 'cote',
        inputs: 1,
        outputs: 0,
        color: "#ffaaaa",
        icon: "arrow-in.png",
        align: "right",
        paletteLabel: "responder out",
        defaults: {
            name: {
                value: ""
            }
        },
        label: function() {
            return this.name || "CoteRespOut";
        }
    });
</script>

<script type="text/x-red" data-template-name="cote-responder-out">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="cote-responder-out">
    <p>Cote responder out</p>
    <p>CoteJS Responder output</p>
    <p>Return message to cote</p>
</script>
